body {
	background: black;
	background-position: center;
	background-size: cover;
	font-family: 'Marcellus SC', serif;
	padding: 0;
	margin: 0;
}


* {
	font-size: 20px;	
	color: white;
}

a {
	font-family: 'Marcellus SC', serif;

}

img {
	margin: 20px;
}

input {
	text-align: left;
	font-size: 24px;
	align-content: center;
	float: bottom;
	border: 2px solid white;
	color: black;
}

h1 {

	text-align: center;
	font: arial;
	font-size: 60px;
}

h2 {
	margin-top: -10px;
	font-size: 28px;
	text-align: center;
	color: white;
	
}

div.about {
	text-align: center; 
}
div.about h3 {
	font-size: 35px;
}

p { 
	font-family: 'Marcellus SC', serif;

}

div.title {
	font-family: 'Marcellus SC', serif;
	background: black;
	background-position: center;
	margin: 50 auto;
	position: top left;
	text-align: center;
	padding: 50;
}

.contact_form {
	text-align: center;
	bottom: 0px;
	position: bottom;
	margin: 10px;
	color: white;

}
ul.navigation_bar {
	  color: #804040;
      padding: 0px 0px 20px 0px;
      background: rgba(75, 0, 130, 0);
      text-align: center;
      margin-top: 0;
      overflow: hidden;

}
ul.navigation_bar li {
      display: inline;
      padding: 0px 10px 0px 10px;
      color: white;
    }

ul.navigation_bar li:hover {
	color: #FFDF00;
	background: #FFDF00;
}

ul.navigation_bar li:visited {
	color: white;
}

.input {
	padding: 10px 0px 10px 0px;
	margin-top: 20px;
	width: 300px;
	border: solid #FFDF00;
	border-width: 2px;

}
#submit {
	text-align: center;
	background: #FFDF00;
	border-width: 2px;
	border-radius: 30%;
	width: 150px;
	margin-top: 10px;
}

.subtitle {
	font-family: 'Marcellus SC', serif;
	color: white;
	background: rgba(75, 0, 130, 0);
	background-size: cover;
	margin: 0 auto;
	border: solid rgba(75, 0, 130, 0);
	border-width: 20px;
	text-align: left;
	padding: 0px 0px 20px 0px;
	margin-top: 0;

.all {
	text-align: center;
	padding: 50px;

}

.dropdown {
	background: rgba(75, 0, 130, 0);
	color: white;
	display: inline-block;
	position: relative;
}

.dropbtn:hover {
	background-color: #FFDF00;
}

.dropbtn {
	background-color: rgba(75, 0, 130, 0.3);
	color: white;
	padding: 20px;
}

img .twitter {
	border: solid rgba(75, 0, 130, 0);
	border-width: 10px;
	border-radius: 50%;
}

img .olympicpic {

}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.youtube {
	text-align: center;
	
}