body {
	background: rgba(50,50,50,1);
	font-family: 'Raleway', sans-serif;
	
	margin: 0;
}


* {
	font-size: 20px;
	color: #804040;
}


img {
	margin: 20px;
	float: left;
	border: 5px solid;
	border-radius: 50%;
	border-color: #804040;

}

input {
	text-align: left;
	font-size: 24px;
	align-content: center;
	float: bottom;
	border: 2px solid #804040;
}

h1 {

	text-align: center;
	font: arial;
	font-size: 60px;
}

h2 {
	margin-top: -10px;
	font-size: 28px;
	text-align: center;
	color: #804040;
	
}

p { 
	font-family: 'Raleway', sans-serif;

}

div.title {
	/*
	background: url("https://pixabay.com/static/uploads/photo/2015/09/02/12/30/city-918480__180.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	*/
	font-family: 'Lobster', cursive;
	background: black;
	background-size: cover;
	margin: 0 auto;
	border: solid black;
	border-width: 20px;
	position: top left;
	text-align: center;
}

.contact_form {
	text-align: center;
	bottom: 0px;
	position: bottom;
	margin: 10px;

}
ul.navigation_bar {
      padding: 0px 0px 20px 0px;
      background: black;
      text-align: center;
      margin-top: 0;

}
ul.navigation_bar li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
.input {
	padding: 10px 0px 10px 0px;
	margin-top: 20px;
	width: 300px;
	border: solid #804040;
	border-width: 2px;

}
#submit {
	text-align: center;
	background: #aaaaaa;
	border-width: 5px;
	border-radius: 30%;
}